@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-header {
    width: 150px;
    height: 150px;
}

header {
    display: flex;
    background-color: lightcyan;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    
}